/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin: 0;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/* Header */

.header-components{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    min-height: 79px;
}

.img-wrapper{
    min-height: 79px;
    display: flex;
    align-items: center;
}

.menu-logo{
    width: 61px;
    height: 19px;
}

.menu-select{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 68px;
    height: fit-content;
}

.menu-accomadation{
    font-size: 16px;
    padding-top: 10px;
}



.menu-toDo{
    font-size: 16px;
    padding-top: 10px;

}

@media (min-width: 768px){
    .menu-accomadation:hover{
        border-top: solid #0065FC;
        color: #0065FC;
        cursor: pointer;
    }
    .menu-toDo:hover{
        border-top: solid #0065FC;
        color: #0065FC;
        cursor: pointer;
    }
}

@media (max-width: 768px){
    .header-components{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-container{
        padding: 0;
    }

    .menu-accomadation{
        width: 100%;
        border-bottom: solid #F2F2F2;
        padding: 10px;
    }

    .menu-accomadation:hover{
        border-bottom: solid #0065FC;
        color: #0065FC;
        cursor: pointer;
    }

    .menu-toDo{
        width: 100%;
        border-bottom: solid #F2F2F2;
        padding: 10px;
    }

    .menu-toDo:hover{
        border-bottom: solid #0065FC;
        color: #0065FC;
        cursor: pointer;
    }

    .menu-select{
        display: flex;
        text-align: center;
        gap: 0;
        width: 100%;
}
}


/* Search */

.search-form{
    margin: 30px 0px;
}

.search-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.search-description{
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.search-bar{
    display: grid;
    grid-template-columns: .75fr 3fr 1.4fr;
    max-width: 377px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    margin: 35px 0;
}

.search-button{
    padding: 0;
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 0 15px 15px 0;

}

.search-icon{
    border: none;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.search-field{
    padding: 0;
    border: none;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.search-field:focus{
    outline: none;
}

@media (max-width: 768px){
    .search-form{
        margin: 30px 20px;
    }
}

/* Filter */

.filter-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height:50px; 
    margin-bottom: 15px;
}

.filter-button-wrapper{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, auto);
    max-width: 770px;
}


.filter-title{
    padding-right: 15px;
    font-size: 18px;
    font-weight: 700;
}

.filter-button{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-right: 15px;
    background-color: transparent;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-size: clamp(14px, 2vw ,17px);
    font-weight: 700;
    padding: 1px 10px;
    min-height: 50px;
}

.filter-button:hover{
    background-color: #DEEBFF;
}


.filter-info{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.info-icon{
    display: grid;
    place-items: center;
}

.info-icon i{
  grid-area: 1 / 1;
  margin-right: 10px;
}

@media (max-width: 768px){
    .filter-button-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 10px;
        width: 100%;
    }

    .filter-div{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}


/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    gap: 50px 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.accommodation-and-popular section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    background-color: var(--main-bg-color);
    flex-basis: 45%;
    height: fit-content;
    flex-grow: 1;
}

.accommodation-cards-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding: 0;
}

.accommodation-card{
    background-color: #FFFFFF;
    max-width: 100%;
    height: 207px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 15px #0000001A;

}

.accommodation-card img {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px solid white
}

.hotel-content{
    margin: 0px 15px 15px 15px;
}

.hotel-name{
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
}

.hotel-price{
    font-weight: 400;
    font-size: 14px;
    margin: 8px 0px;
}

.hotel-price span{
    font-weight: 700;
}

.show-more{
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 375px){
    .accommodation{
        background-color: transparent;
    }

    .accommodation-and-popular{
        flex-wrap: wrap-reverse;
    }
}

@media (max-width: 1024px){
    .accommodation-cards-section{
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

/****** Popular ***********/
.popular {
    max-width: 32%;
    background-color: var(--main-bg-color);
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

@media (max-width: 1024px){
    .popular{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        flex-grow: 1;
    }

    .popular-title{
        width: 100%;
        justify-content: space-between;
    }

    .popular-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        column-gap: 20px;
        width: 100%;
        justify-content: center;
    }

    .card{
        width: 100%;
    }
}



/* Things To Do */
.things-todo{
    margin: 35px 0px;
    padding: 0px 30px
}

.things-todo h2{
    margin: 30px 0px;
}

.todo-cards-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.todo-card{
    max-width: 297px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px #0000001A;
}

.todo-card img{
    display: block;
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
}

.todo-card h3{
    margin: 20px;
}

@media (max-width: 1024px){
    .todo-card img{
        height: 200px;
    }

    .todo-cards-section{
        grid-template-columns: repeat(auto-fit, minmax(193px, 1fr));
        row-gap: 15px;
        justify-content: stretch;
    }

    .todo-card{
        max-width: 100%;
    }
}

/* Footer */

.footer-container{
    background-color: #F2F2F2;
    min-height: 163px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 0px;
}

.footer-details{
    margin: 20px;
}

.footer-details p{
    cursor: pointer;
}

.footer-details h3, .footer-details p{
    margin-bottom: 15px;
    margin-top: 0px;
}

@media (max-width: 476px){
    .footer-container{
        grid-template-columns: 1fr;
    }
}

